{% extends "admin/base.html" %}
{% block content %}
<h2>Edit Member</h2>
<form method="post" class="row g-3">
  <div class="col-md-4">
    <label class="form-label">Member Code</label>
    <input type="text" name="member_code" class="form-control" value="{{ member.member_code }}">
  </div>
  <div class="col-md-4">
    <label class="form-label">First Name</label>
    <input required name="first_name" class="form-control" value="{{ member.first_name }}">
  </div>
  <div class="col-md-4">
    <label class="form-label">Last Name</label>
    <input required name="last_name" class="form-control" value="{{ member.last_name }}">
  </div>
  <div class="col-md-6">
    <label class="form-label">Email</label>
    <input type="email" name="email" class="form-control" value="{{ member.email }}">
  </div>
  <div class="col-md-4">
    <label class="form-label">Phone Number</label>
    <input type="text" name="phone" class="form-control" value="{{ member.phone }}">
  </div>
  <div class="col-md-2">
    <label class="form-label">Status</label>
    <select name="status" class="form-select">
      {% for s in ['active','inactive','alumni','guest'] %}
        <option value="{{ s }}" {% if member and member.status == s %}selected{% endif %}>
          {{ s|capitalize }}
        </option>
      {% endfor %}
    </select>
  </div>
  
  <div class="col-12">
    <button class="btn btn-success">Save</button>
    <a class="btn btn-secondary" href="/members">Cancel</a>
  </div>
</form>
{% endblock %}
